 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "jquery.fileupload-ui";

div {
  overflow: hidden;
}

 .admin_main {
   width: 1100px;
   overflow: hidden;
   margin: auto;

 }
 .container {
   margin: auto
 }

 .tab-content {
   background-color: #f7fff3;
   overflow: hidden;
 }
 .page-header-title {
   margin-left: 40px;
 }

 .header__alert_message {
   width: 1100px;
   padding: 5px;
   height: 35px;
   background-color: #ff0033;
   font-size: 16px;
   text-align: center;
   margin:0 auto 20px auto;
   color: #ffffff;
   /* box-shadow */
   -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
 }

 .header__ok_alert_message {
   width: 1100px;
   padding: 5px;
   height: 35px;
   background-color: #0fa337;
   font-size: 16px;
   text-align: center;
   margin:0 auto 20px auto;
   color: #ffffff;
   /* box-shadow */
   -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
 }

 .play-pause {
   width: 37px !important;
 }

 .audiojs {
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #568c46), color-stop(0.5, #62a352), color-stop(0.51, #8ee46f), color-stop(1, #6db250)) !important;
 }

 .progress {
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c7810), color-stop(0.5, #ADDB5C), color-stop(0.51, #ccc), color-stop(1, #AAD16F)) !important;
 }
 .scale_title_alert_message {
   position: relative;
   top: 2px;
 }



 .b-container{
   width:500px;
   height:300px;
   background-color: #ccc;
   margin:0px auto;
   padding:10px;
   font-size:30px;
   color: #fff;
 }
 .b-popup{
   width:100%;
   min-height:100%;
   background-color: rgba(0,0,0,0.5);
   overflow:hidden;
   position:fixed;
   top:0px;
   display: none;
 }
 .b-popup .b-popup-content{
   margin:100px auto 0px auto;
   width:400px;
   height: 100px;
   padding:10px;
   background-color: #c5c5c5;
   border-radius:5px;
   box-shadow: 0px 0px 10px #000;
 }

 .btn-success.active, .open > .btn-success.dropdown-toggle {
   color: white;
   background-color: #B7D518;
   border-color: #80B60D;
 }