 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "jquery.fileupload-ui";
 @import "bootstrap-datetimepicker";
 @import "jquery-ui";
 @import "calls";





 .admin_main {
   width: 1100px;
   overflow: hidden;
   margin: auto;
 }

 .escalls-container {
   margin: auto
 }

 textarea.form-control {
   height: 130px;
   width: 468px;

 }

 h1 {
   display: inline-block;
 }

 h2 {
   margin-top: 0px;
 }

 .tab-pane-content {
   margin: auto;
   width: 1000px
 }

 .datetimepicker {
   left: 750px !important;
   top: 450px !important;
 }

 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   background-color: #f7fff3;
   cursor: pointer;
   color: royalblue;
 }

 .tab-content {
   background-color: #f7fff3;
   overflow: hidden;
   padding-bottom: 100px;
   border-bottom: 1px solid #dddddd;
   border-left: 1px solid #dddddd;
   border-right: 1px solid #dddddd;

   margin-bottom: 300px;
 }
 .page-header-title {
   margin-left: 40px;
   margin-right: 40px;
 }

 .page-header-links {
   display: inline-block;
   float: right;
   margin-top: 20px;
   margin-bottom: 10px;
 }
 .header__alert_message {
   width: 1100px;
   padding: 7px;
   height: 35px;
   background-color: #ff0033;
   font-size: 16px;
   text-align: center;
   margin:0 auto 20px auto;
   color: #ffffff;
   /* box-shadow */
   -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
 }

 .header__ok_alert_message {
   width: 1100px;
   padding: 5px;
   height: 35px;
   background-color: #0fa337;
   font-size: 16px;
   text-align: center;
   margin:0 auto 20px auto;
   color: #ffffff;
   /* box-shadow */
   -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
 }

 .play-pause {
   width: 37px !important;
 }

 .audiojs {
   width: 468px;
 }

.account-container {
  width: 380px;
  min-height: 300px;
  padding: 20px;
  margin-left: 162px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
}

.account-btn {
  width: 340px;
  margin-bottom: 10px;
}

 .b-container{
   width:500px;
   height:300px;
   background-color: #ccc;
   margin:0px auto;
   padding:10px;
   font-size:30px;
   color: #fff;
 }
 .b-popup{
   width:100%;
   min-height:100%;
   background-color: rgba(0,0,0,0.5);
   overflow:hidden;
   position:fixed;
   top:0px;
   display: none;
 }
 .b-popup .b-popup-content{
   margin:100px auto 0px auto;
   width:400px;
   height: 100px;
   padding:10px;
   background-color: #c5c5c5;
   border-radius:5px;
   box-shadow: 0px 0px 10px #000;
 }

 .btn-success.active, .open > .btn-success.dropdown-toggle {
   color: white;
   background-color: #B7D518;
   border-color: #80B60D;
 }

 .field_with_errors {
   @extend .form-group;
   @extend .has-error;
 }